*{
    margin:0px;
    padding: 0px;
    gap: 0;
    text-decoration: none;
    list-style: none;
}

.image{
    max-width: 112px;
    margin: 10px;
}

.icon{
    max-width: 30px;
}

.counter{
    max-width: 100%;
}

.product{
    border: 2px solid rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
}

.productDiv{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.cartProduct-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}