*{
    margin:0px;
    padding: 0px;
    gap: 0;
    text-decoration: none;
    list-style: none;
}

.image{
    max-width: 112px;
    margin: 10px;
}

.a{
    max-width: max-content;
}

.icon{
    max-width: 30px;

}

.cartProducts{
    display: flex;
    justify-content: center;
}

.cart{
    border: 2px solid rgb(0, 0, 0,0.5   );
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
    max-height: max-content;
}
.cartProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16.66%;
}

.product-1-2{
    margin-bottom: 15%;
    text-overflow: hidden;
}

.counter{
    max-width: 112px;
}

span{
    max-width: max-content;
}