/* css do componente button categoria */
.categorias-button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.button-categoria {
  margin-bottom: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  max-height: 20%;
  margin-left: 10%;
  max-width: 37vw;
  
  a{
    padding: 10px;
  }

}


/* .container-button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
} */

button {
  max-width: 12vw;
  width: 12vw;
  height: 13vh;
  background-color: #f8f8f8;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
}

.button:hover {
  transform: scale(1.03);
}

.img-CategoriaButton {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.nome-produto {
  font-size: 1rem;
  color: #333;
}