/* css do componente button categoria */

.button-categoria {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* impede quebra de linha */
  gap: 0.5rem;
  margin-left: 5%;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.button-categoria a {
  flex: 1;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  word-wrap: break-word;

}

.button-categoria button {
  width: 100%;
  height: 155px;
  background-color: #f8f8f8;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  cursor: pointer;
}

.button-categoria button:hover {
  transform: scale(1.03);
}

.img-CategoriaButton {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.nome-produto {
  font-size: 1rem;
  color: #333;
  word-wrap: break-word;   /* Permite quebrar a palavra se necessário */
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  display: block;
  max-width: 100%;
  white-space: normal;     /* Permite quebrar linha */
}
