/* Contêiner principal dos botões */
.button-categoria {
    display: inline-block;
    width: 30px;
    gap: 2%; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço após o banner */
    padding: 5%;
    justify-content: center;
    margin-left: 2%;
    text-decoration: none;
}
.button-categoria a {
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Faz com que o link se comporte como um bloco */
}

/* Estilização dos botões */
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150PX;
    height: 140px;
    border: 2px solid #16A18E;
    border-radius: 10px;
    color: #16A18E;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;

}

/* Efeito ao passar o mouse */
.button:hover {
    background-color: #16A18E;
    color: white;
    
    img {
        color: white;

    };
}

/* Estilização do botão ativo */
.button.active {
    background-color: #16A18E;
    color: white;
}

/* Estilização da imagem dentro do botão */
.button .container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

/* Ajusta a imagem para não ultrapassar o espaço */
.button .container-imagem .img-ButtonCategoria {
    max-width: 100%;    
    max-height: 100%;
    align-items: center;
    object-fit: contain;
    
}

/* Nome do produto */
.button .container-nome-produto {
    text-align: center;
    text-decoration: none;
   
}

.button .container-nome-produto .nome-produto {
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}
.nome-produto h3{
    text-decoration: none;
}