.grid-image{
    display: flex;
    /* flex-direction: row; */
}
.img-small{
    margin-bottom: 14%;
}
.img-small>img{
    background-color: rgb(239, 239, 239);
    width: 100%;
}

.img-large>img{
    background-color: rgb(239, 239, 239);
    width: 100%;
    margin-left: 1%;
    
    
    
    
}
