.sub-menu {
    display: inline; 
    margin-left: 2px;
    margin-right: 2px;
}

#minha-conta{
    color: grey;
}

#conta{
    color: grey;
}

.sub-menu a {
    text-decoration: none; 
    color: inherit; 
}
