.sub-menu {
    display: inline; 
}
#minha-conta {
    color: grey;
}

#coluna-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#conta {
    color: grey;
    margin-left: 25px;
}

.sub-menu a {
    text-decoration: none; 
    color: inherit; 
}

.menu-lateral h1 {
    margin-top: 10px;
    color: gray;
    font-size: 13px;
    margin-left: 45px;
}

.menu-lateral h3 {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    margin-left: 25px;
}

.separator {
    text-decoration: none; 
    color: black; 
    margin-left: 10px;
    margin-right: 10px;
}

.ativa {
    text-decoration: underline; 
    font-weight: bold; 
    color: #00edcc;
}

#cadastrar-produtos {
    color: #00edcc;
}

.container-main {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1px; 
}

.quadrado-grande {
    width: 800px;
    height: 800px;
    background-color: lightblue;
    margin-left: 50px;  /* Empurra o quadrado para a direita */
    margin-right: auto; /* Garante que o quadrado fique centralizado */
    display: block;     /* Necessário para que a margem funcione */
    grid-column: 2;     /* Garante que o quadrado ocupe a segunda coluna da grade */

}


.menu-lateral {
    width: 200px; 
    text-align: left;

}

.coluna-menu {
    flex: 1;
}
