body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #008080;
}

.banner {
    width: 1500px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px; 
}
.banner img{
    align-items: center;
}

.comentarios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.info-usuario {
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    gap: 10px; 
    margin-bottom: 10px; 
    width: 100%; 
}


.foto-usuario {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ccc; 
}


.nome-usuario {
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
    text-align: left; 
}


.estrelas {
    display: flex; 
    gap: 5px; 
    margin-top: 10px; 
}

.estrelas img {
    width: 20px; 
    height: 20px; 
    object-fit: contain; 
}

