.frame_principal {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 60%;
    height: 120px;
    position: relative;
    left: 20%;
    top: 20%;
    border-radius: 20px;
    margin-bottom: 0.9%;
    align-content: center;
}

.container-historico {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    /* gap: 5%; */
    width: 100%;
    align-content: center;
}

.container-historico p, a {
    width: fit-content;
}

.column_group {
    display: flex;
    flex-direction: column;
}

.produto-img {
    position: relative;
    grid-column-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 80px;
}

.nome-produto{
    position: relative;
    grid-column: 2;
    grid-row: 1;
    font-size: 16px;
}

.data-compra{
    position: relative;
    grid-column: 3;
    grid-row: 1;
    font-size: 16px;
    width: 100%;
}

.preco-compra{
    position: relative;
    grid-column: 4;
    grid-row: 1;
    font-size: 16px;
}

.produto-titulo{
    position: relative;
    grid-column: 2;
    grid-row: 2;
    font-size: 16px;
    width: 100%;
}

.data-titulo{
    position: relative;
    grid-column: 3;
    grid-row: 2;
    font-size: 16px;
}

.preco-titulo{
    position: relative;
    grid-column: 4;
    grid-row: 2;
    font-size: 16px;
}

.trocar-devolver{
    position: relative;
    color: red;
    grid-column: 5;
    grid-row-start: 1 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.retornar {
    position: relative;
    border: none;
    background-color: #16A18E;
    color: white;
    display: flex;
    border-radius: 5px;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}