* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 250px 550px 550px;
    gap: 20px;
}

.menu-lateral {
    padding-top: 50px;
}

.menuzin .mi-cont {
    display: inline;
    padding: 0;
    left: 17px;
}

.menuzin, .menuzin2 {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.menuzin2 {
    padding-top: 30px;
}

.mi-cont-tittle {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    color: #000000;
    margin: 20px;
}

.mi-cont {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 5px;
    color: #000000;
    margin: 0;
    height: auto;
}

.mi-cont li {
    font-size: 13px;
    margin: 8px 0;
    transition: 0.3s;
    padding-left: 50px;
}

.mi-cont:hover {
    color: #49BF9E;
    transition: 0.3s;
}

.frame {
    position: relative;
    grid-column: 2 / 3;
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 120px;
    margin-bottom: 200px;
    height: 890px;
    width: 1440px;
}

.frame .mi-cont-tittle {
    padding-left: 60px;
}

.edit-perfil {
    padding-left: 25px;
    padding-top: 300px;
}

.edit-perfil2 {
    padding-top: 140px;
    padding-left: 340px;
    grid-column: 3 / 4;
    z-index: 100;
}

.input-text {
    background-color: lightgray;
    border-color: transparent;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    font-size: 20px;
    margin-bottom: 20px;
}

.input-date {
    background-color: lightgray;
    border-color: transparent;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 20px;
}
