* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 250px 300px;
    gap: 20px;
}

.menu-lateral {
    padding-top: 50px;
}

.menuzin .mi-cont {
    display: inline;
    padding: 0;
    left: 17px;
}

.menuzin, .menuzin2 {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.menuzin2 {
    padding-top: 30px;
}

.mi-cont-tittle {
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    color: #000000;
    margin: 20px;
}

.mi-cont {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 5px;
    color: #000000;
    margin: 0;
    height: auto;
}

.mi-cont li {
    font-size: 13px;
    margin: 8px 0;
    transition: 0.3s;
    padding-left: 50px;
}

.mi-cont:hover {
    color: #49BF9E;
    transition: 0.3s;
}

/* .frame {
    position: relative;
    margin: 0;
    border: 3px solid gray;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    top: 20px;
} */
