.container {
    width: 70%;
}


/* ========================================================================
                        BANNER - PÁGINA DO VENDEDOR
     Espaço onde o vendedor esolhe uma foto para definir como banner
=========================================================================== */

#foto-banner {
    width: 100%;
    max-height: 300px;
    border-radius: 20px;
}

/* ========================================================================
                 INFORMAÇÕES DA LOJA -  PÁGINA DO VENDEDOR
     Espaço onde o contem os dados da loja: logo, nome, email, endereço,
     telefone e avaliações.
=========================================================================== */


.grid-container-perfil-vendedor {
    display: grid;
    grid-template-columns: 22% 52% 26%;
    background-color: #c2c5c7;
    width: 100%;
    height: 240px;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 0 6px 5px #00000025;
    /*box shadow: margem dada na direita | deslocamento para baixo | tamanho da sombra*/
}

.grid-item-perfil-vendedor {
    padding-top: 2%;
}


/* ========================================================================
LOGO DA LOJA - container logo e logo
=========================================================================== */
.container-logo-loja {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 4px #00000025;
    margin-top: 0.5%;
    margin-left: 10%;
    position: relative;
}

#logo-loja {
    max-width: 60%;
    max-height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* ========================================================================
    GRID ROW - nome da loja, email e endereço.
=========================================================================== */

.grid-infos-perfil-vendedor {
    display: grid;
    grid-template-rows: auto auto auto;
}

#nome-loja {
    font-size: 48px;
    font-weight: normal;
    padding-bottom: 3%;
}

#email-loja {
    font-size: 18px;
    color: black;
}

#endereco-loja {
    padding-top: 3%;
    font-size: 19px;
    padding-bottom: 2%;
}

/* ========================================================================
    GRID ROW - avaliação e telefone (+logo whatsapp)
=========================================================================== */
.grid-avaliacao-telefone {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#avaliacao {
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    padding-left: 50%;
    padding-top: 1%;
}

#estrelinha-perfil-vendedor{
    padding-left: 12%;
    grid-column: 2;
    grid-row: 1;
    max-width:60%;
}

#telefone {
    font-size: 20px;
    padding-top: 21%;
    grid-column: 2;
    grid-row: 2;
    color: black
}

#whatsapp-logo {
    width: 30px;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    padding-top: 30%;
    padding-left: 76%;
}


/* ========================================================================
     CONTAINER TITULO DO TÓPICO (MAIS PRODUTOS) - PÁGINA DO VENDEDOR
=========================================================================== */

.grid-topico-mais-produtos {
    display: grid;
    grid-template-columns: 3% 97%;
    width: 100%;
    margin-top: 3%;
    place-items: center;
}

.elemento-verde {
    width: 20px;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
}

.titulo-topico {
    font-size: 20px;
    font-weight: bold;
    color: #00BFA5;
}


/* ========================================================================
                       GRID PRODUTOS - PÁGINA DO VENDEDOR
            Parte da página onde mostra os produtos do vendedor
=========================================================================== */

.grid-produtos-pagina-vendedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    margin-top: 3%;
    column-gap: 30px;
    row-gap: 60px;
    margin-bottom: 2%;
}

.grid-item-produtos-pagina-vendedor {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 90% 10%;
}

/* ========================================================================
                CONTAINER GRID PRODUTO - PÁGINA DO VENDEDOR
=========================================================================== */


.container-foto-nome-preço {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 70% 15% 15%;
    width: 310px;
    height: 322px;
}

.img-produto {
    max-width: 300px;
    max-height: 300px;

}

.container-foto {
    position: relative;
    max-width: 310px;
    max-height: 300px;
}


/* ========================================================================
                ETIQUETA VERDE PRODUTO NOVO
=========================================================================== */

.etiqueta-produto-novo {
    position: absolute;
    max-width: 40px;
    max-height: 20px;
    top: 10px;
    left: 5px;
    color: white;
    background-color: #00BFA5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
}


.container-coracao-carrinho {
    padding-top: 2%;
    display: block;
}

/* classe nao funcionando */
.icones-coracao-carrinho {
    width: 10   0%;
}

/* ========================================================================
                            NOME E PREÇO DO PRODUTO
=========================================================================== */

.container-nome-produto {
    grid-column: 1;
    grid-row: 2;
}

.container-preco-produto {
    grid-column: 1;
    grid-row: 3;
}

.nome-produto {
    padding-top: 2%;
}

.preco-produto {
    padding-top: 2%;
    font-size: 16px;
    grid-column: 1;
    grid-row: 3;
    color: #00BFA5;
}


/* ========================================================================
                          BOTÃO - VER MAIS
=========================================================================== */

.container-botao-ver-mais{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.botao-ver-mais {
    width: 8%;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
    color: white;
    display: grid;
    grid-template-columns: auto;
    place-items: center;

}

#ver-mais{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}


/* ========================================================================
                    AVALIAÇÕES E COMENTÁRIOS - RAFAEL
=========================================================================== */
.container-comentarios{
    display: grid;
    place-items: center;
}

.comentario{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: #F5F5F5;
    width: 80%;
    height: 200px;
    border-radius: 30px;

    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;
}

.comentario h1 {
    font-weight: normal;
    font-size: 24px;
    max-height: 50px;
    max-width: 250px;

    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
    left: 170px;
    top: 40px;
    
}

.comentario p {
    grid-row-start: 2;
    font-size: 14px;
    margin-left: 87px;
}

.foto {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 69.605px;
    height: 65px;
    position: relative;
    left: 70px;
    top: 30px;
    
}

.estrelinha5 {
    max-width: 100px;
    grid-row-start: 1;
    position: relative;
    right: 35px;
    top: 20px;
}

.estrelinha4 {
    max-width: 100px;
    grid-row-start: 1;
    position: relative;
    right: 35px;
    top: 20px;
}

/* ========================================================================
                        BOTÃO - VER MAIS 
=========================================================================== */
.container-botao-ver-mais{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    margin: 0px; 
}

#botao-ver-mais {
    width: 8%;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
    color: white;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

#ver-mais{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

/* ========================================================================
                        BOTÃO - VER MAIS  COMENTÁRIOS
=========================================================================== */

#botao-ver-mais-comentarios{
    width: 20%;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
    color: white;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

#frase-ver-mais-comentarios{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}