.container{
    width: 70%;
}


/* ========================================================================
                        BANNER - PÁGINA DO VENDEDOR
     Espaço onde o vendedor esolhe uma foto para definir como banner
=========================================================================== */

#foto-banner{
    width: 100%;
    max-height: 300px;
    border-radius: 20px;
}

/* ========================================================================
                 INFORMAÇÕES DA LOJA -  PÁGINA DO VENDEDOR
     Espaço onde o contem os dados da loja: logo, nome, email, endereço,
     telefone e avaliações.
=========================================================================== */


.grid-container-perfil-vendedor{
    display: grid;
    grid-template-columns: 22% 52% 26%;
    background-color: #BFC2C5;
    width: 100%;
    height: 240px;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 0 6px 5px #00000025;
    /*box shadow: margem dada na direita | deslocamento para baixo | tamanho da sombra*/
}

.grid-item-perfil-vendedor{
    padding-top: 2%;
}


/* ========================================================================
LOGO DA LOJA - container logo e logo
=========================================================================== */
.container-logo-loja{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 4px #00000025;
    margin-top: 0.5%;
    margin-left: 10%;
    position: relative;
}

#logo-loja{
    max-width: 60%;
    max-height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* ========================================================================
    GRID ROW - nome da loja, email e endereço.
=========================================================================== */

.grid-infos-perfil-vendedor{
    display: grid;
    grid-template-rows: auto auto auto;
}

#nome-loja{
    font-size: 48px;
    font-weight: normal;
    padding-bottom: 3%;
}

#email-loja{
    font-size: 18px;
    color: black;
}

#endereco-loja{
    padding-top: 3%;
    font-size: 19px;
    padding-bottom: 2%;
}

/* ========================================================================
    GRID ROW - avaliação e telefone (+logo whatsapp)
=========================================================================== */
.grid-avaliacao-telefone{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#avaliacao{
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    padding-left: 50%;
}

#telefone{
    font-size: 20px;
    padding-top: 20%;
    grid-column: 2;
    grid-row: 2;
    color:black
}

#whatsapp-logo{
    width: 30px;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    padding-top: 28%;
    padding-left: 80%;
}


/* ========================================================================
     CONTAINER TITULO DO TÓPICO (MAIS PRODUTOS) - PÁGINA DO VENDEDOR
=========================================================================== */

.grid-topico-mais-produtos{
    display: grid;
    grid-template-columns: 3% 97%;
    width: 100%;
    margin-top:3%;
    place-items: center;
}

.elemento-verde{
    width: 20px;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
}

.titulo-topico{
    font-size: 20px;
    font-weight: bold;
    color: #00BFA5;
}


/* ========================================================================
                       GRID PRODUTOS - PÁGINA DO VENDEDOR
            Parte da página onde mostra os produtos do vendedor
=========================================================================== */

.grid-produtos-pagina-vendedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    margin-top: 3%;
    column-gap: 30px;
    row-gap: 60px;
}

.grid-item-produtos-pagina-vendedor{
    width: 100%;
    height: 322px;
}

#foto-produto{
    padding: none;
}

#nome-produto{
    font-size: 16px; 
    border: none;
}

#preco-produto{
    font-size: 16px;
    color: #00BFA5;
    border: none;
} 