* { margin: 0; padding: 0; }

.slider {
    display: block;
    height: 456px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden; 
    bottom: 43px;
    margin-bottom: 10%;
}

.slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    width: 10px;
    z-index: 10;
    border-radius: 50%;
    margin: 0 5px;  
    transition: background-color 0.3s ease-in;
}

.slider .navigation {
    position: absolute;
    bottom: 10px;  
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
}

.slider li:nth-child(1) label {
    background-color: white;
}

.slider li:nth-child(2) label {
    background-color: white;
}

.slider li:nth-child(3) label {
    background-color: white;
}

.slider li:nth-child(4) label {
    background-color: white;
}


.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}

.slider li input:checked ~ .navigation label {
    background-color: #FF6347;  
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in; 
}

.btn-slide {
    background-color: white;
}


.mosaico {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
}

.itens{
    background-color: black;
}

.frame_container_categoria{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    height: fit-content;
}

.frame_categoria{
    grid-column: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 25px;
    left: 25%;
    background-color: #16A18E;
    border-radius: 5px;
    margin-bottom: 10%;
    margin-right: 20%;
}

.titulo{
    grid-column: 2;
    color: #16A18E;
    display: flex;
    position: relative;
    right: 64%;
    top: 8%;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 600;
}

.categorias_container {
    display: grid;
    grid-template-columns: repeat(6, 25%);
    grid-template-rows: auto;
    position: relative;
    left: 12%;
    margin-bottom: 10%;
    max-width: fit-content;
}

.categoria{
    background-color: white;
    width: 170px;
    height: 140px;
    border: 2px solid #00BFA5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoria > img{
    width: 56px;
    height: 56px;
    position: relative;
}

.categoria > p{
    font-weight: 200;
    position: relative;
    color: #00BFA5;
    width: fit-content;
    height: fit-content;
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.img {
    border-radius: 20px;
    width: 70%;
    height: 300px;
    object-position: center;
    object-fit: cover;
}

.titulo2{
    grid-column: 2;
    color: #16A18E;
    display: flex;
    position: relative;
    right: 58%;
    top: 8%;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 600;
}

.titulo3{
    grid-column: 2;
    color: #16A18E;
    display: flex;
    position: relative;
    right: 60%;
    top: 8%;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 600;
}

.produtos_container{
    display: grid;
    grid-template-columns: repeat(4,35%);
    grid-template-rows: repeat(2,70%);
    position: relative;
    left: 11.5%;
    margin-bottom: 10%;
    width: fit-content;
    height: fit-content;
}

.produtos{
    width: 270px;
    height: 322px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos img{
    width: 115px;
    height: 180px;
flex-shrink: 0;
}