.roadMap1{
    color: rgb(0, 0, 0,0.5);
    margin: 1%;
    font-weight: bolder;
}
.redutor{
    max-width: max-content;
}

.roadMap{
    margin-bottom: 1%;
}

.centralizar{
    margin: 0 auto;
}

.corpo{
    margin: 0 auto;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
}
.menuLateral{
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.subCorpo{
    max-width: 95%;
}

.subSubCorpo{
    max-width: 95%;
    margin: 0 auto;

}

.roadMap2{
    font-weight: bolder;
    margin: -0.8%;
}

.painel{
    background-color: rgba(0, 0, 255, 0);
    max-width: 95%;
    height: 750PX;
    border: 2px solid #BFC2C5;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #BFC2C5;
    overflow: hidden auto;
}

.acordeonFechado{
    display: flex;
    border: 2px solid rgb(0, 0, 0,0.0);
    border-radius: 20px;
    margin: 0 auto;
    height: max-content ;
    max-width: 95%;
    margin-top: 20px;
    background-color: rgb(0,0,0,0.08);
    justify-content: space-between;
    box-shadow: 2px 5px 2px rgb(0, 0, 0,0.3);
    margin-bottom: 10px;
}

.acordeonAberto{
    display: none;
}

.logoEmpresa{
    max-width: 117px;
    max-height: 117px;
    margin: 0 auto;
    margin: 3px;
    border-radius: 100px;
    margin-left: 2%;
}

.blocoTitulo{
    max-width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-left: 2%;
}

.carret{
    max-width: 40px;
    transform: rotate(180deg);
}

.blocoAcordeon{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: max-content;
    margin-right: 8%;
}

.bloco1{
    display: flex;
    flex-direction: row;
}

.abrirAcordeon{
    border:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.0);
    max-height: max-content;
    max-width: max-content;
    margin-top: 10px;
}

.removedor{
    display: none;
}

.adicionador{
    display: flex;
}