.container {
    width: 70%;
    justify-self: center;   
}

/* ========================================================================
CONTAINER TITULO DO TÓPICO (NOSSOSPRODUTOS) - PÁGINA DO VENDEDOR
=========================================================================== */

.grid-topico-mais-produtos {
    display: grid;
    grid-template-columns: 3% 97%;
    width: 100%;
    margin-top: 3%;
    place-items: center;
}

.elemento-verde {
    width: 20px;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
}

.titulo-topico {  
    font-size: 20px;
    font-weight: bold;
    color: #00BFA5;
}


/* ========================================================================
                       GRID PRODUTOS - PÁGINA DO VENDEDOR
            Parte da página onde mostra os produtos do vendedor
=========================================================================== */

.grid-produtos-pagina-vendedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    margin-top: 3%;
    column-gap: 20px;
    row-gap: 60px;
    margin-bottom: 2%;
    margin-top:5%;
}

.grid-item-produtos-pagina-vendedor {
    display: grid;
    grid-template-rows: auto 60px auto;
    grid-template-columns: 90% 10%;
}

/* ========================================================================
                CONTAINER GRID PRODUTO - PÁGINA DO VENDEDOR
=========================================================================== */


.container-foto-nome-preço {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 70% 15% 15%;
    width: 310px;
    height: 322px;
}

.img-produto {
    width: 200px;
    height: 200px;
}

.container-foto {
    position: relative;
    max-width: 310px;
    max-height: 300px;
}


/* ========================================================================
                ETIQUETA VERDE PRODUTO NOVO
=========================================================================== */

.etiqueta-produto-novo {
    position: absolute;
    max-width: 40px;
    max-height: 20px;
    top: 10px;
    left: 5px;
    color: white;
    background-color: #00BFA5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
}


.container-coracao-carrinho {
    padding-top: 2%;
    display: block;
}

.icones-coracao-carrinho {
    width: 100%;
}

/* ========================================================================
                            NOME E PREÇO DO PRODUTO
=========================================================================== */

.container-nome-produto {
    grid-column: 1;
    grid-row: 2;
}

.container-preco-produto {
    grid-column: 1;
    grid-row: 3;
}

.nome-produto {
    padding-top: 2%;
}

.preco-produto {
    padding-top: 2%;
    font-size: 16px;
    grid-column: 1;
    grid-row: 3;
    color: #00BFA5;
}


/* ========================================================================
                          BOTÃO - VER MAIS
=========================================================================== */

.container-botao-ver-mais {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.botao-ver-mais {
    width: 8%;
    height: 40px;
    background-color: #16A18E;
    border-radius: 4px;
    color: white;
    display: grid;
    grid-template-columns: auto;
    place-items: center;

}

#ver-mais {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}