#menu, span, #sub-menu{
    width: 94%;
    margin-top: 4%;
    font-size: 17px; 
    display: inline;
    margin-left: 1%;
}
    
#menu{
    margin-left: 5%;
    color: grey;
    font-style: inherit;

}


.container {
    display: grid;
    grid-template-columns: 20% 50%;  
    gap: 15%;  
    align-items: start;  
    margin-top: 5%;  
}

#contato {
    margin-left: 30%;
}

#form {
    margin-left: 30%;
}


.titulo{
    display: inline-block;
    height: 40%;
    width:28%;
    margin-left: 3%;
    color: #7D8184;
    font-family: Poppins;
}

#descricao-produto{
    width:350%;
}

.caixa{
    border-radius: 10px;
    background-color: #F5F5F5;
}
