@import url("../base.css");

body{
    font-family: Poppins;
}


#menu, span, #sub-menu{
    width: 94%;
    margin-top: 4%;
    font-size: 17px; 
    display: inline;
    margin-left: 1%;
}
    
#menu{
    margin-left: 5%;
    color: grey;
    font-style: inherit;

}

a{
    text-decoration: none;
}

.container_geral {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 25px;
}

.contatos-container {
    display: grid;
    max-width: 25%;
    width: max-content;
    height: max-content;
    margin-left: 5%;
    gap: 10px;
}

.contatos-container > hr {
    width: 100%;
}

.round{
    width: 40px;
    height: auto;
    border-radius: 25px;
    background-color: var(--cor-secundaria);
}

.contatos-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contatos-title h1 {
    font-size: 20px;
}

.input-container {
    position: relative;
    bottom: 40px;
    max-width: 60%;
    gap: 15%; 
    align-items: start;
    align-content: start;
}


.titulo{
    display: inline-block;
    width: max-content;
    height: max-content;
    color: #7D8184;
}

.caixa-container{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}



.caixa{
    border-radius: 15px;
    height: 25px;
    font-size: 16px;
    background-color: var(--cor-fundo-img-produtos);
    padding: 5px;
}

.caixa2{
    background-color: var(--cor-fundo-img-produtos);
    width: 100%;
    max-height: 300px;
    position: relative;
    resize: none;
}

#salvar{
    background-color: var(--cor-botao-primario);
    white-space: nowrap;
    height: auto;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    position: relative;
}

.button-container {
    align-self: flex-end;
    width: auto;
}