#menu{
    margin-left: 6%;
    width: 94%;
    margin-top: 4%;
    font-size: 17px; 
}
    
#sub-menu {
    margin-left: 6%;
    margin-top: 4%;
    width: 94%;
    font-weight: bold;
    font-size: 22px; 
}

#texto{
    margin-left: 6%;
    width: 90%;
    margin-top: 2%;
    font-size: 16px;
    text-align: left; 
    font-family: 'Poppins', sans-serif;
}

#retorno{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #16A18E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

a {
    text-decoration: none;
  }

button:hover {
    opacity: 0.8;
}

.subtitulo{
    opacity: 200%;
    font-weight: bold;
    font-size: 16px;
}

.texto{
    opacity: 50%;
    font-size: 16px;
}

.btn-home {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    #texto {
        font-size: 14px
    }

    .subtitulo{
        font-size: 14px;
    }
    
    .texto{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    #sub-menu {
        font-size: 18px; 
    }

}