#sub-menu{
    margin-left: 3.5%;
    width: 97%;
}

h6, span{
    display: inline;
    margin-left: 0.5%;
    font-weight: bold;
    font-size: 15px; 
}

#texto{
    margin-left: 4%;
    width: 40%;
    display: inline-block; 
    margin-top: 4%;
    font-size: 120%; 
}

#título{
    display: inline;
    font-weight: bold;
    font-size: 40px;         
}

#descricao{
    margin-top: 5%;
    display: inline;
    
}

#imagem{
    display: inline-block; 
    width: 40%;  
    vertical-align: -170px;  
    margin-left: 5%;
}
