@import url("../base.css");

a {
    text-decoration: none;
    width: auto;
}
p.container-header-section{
    color:var(--cor-texto);
    font-weight: 700;
    font-size: 20px;
    border-width : 0.5rem ;
    margin: 0.500;

}
/* .roadmap css */

.sidebar-menu {
    padding: 10px;
}

.roadmap {
    display: flex;
    align-items: center;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumb-item {
    font-size: 14px;
    color: var(--cor-texto-deselecionado);
}

.breadcrumb-item-separator {
    font-size: 14px;
    color: #919191;
}

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

/* conteudo main css */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.produtos-fav-tittle, .lojas-fav-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.title {
    font-size: 22px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .main-container {
        width: 100%;
    }
    .produto-favorito, .lojas-favoritas {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .card-prod-favorito,
    .card-produto-vend {
      flex-direction: column;
      align-items: center;
    }
  
    .card-body,
    .card-footer {
      width: 100%;
      padding: 0.75rem;
      box-sizing: border-box;
    }
  
    .img-produto,
    .img-vendedor {
      width: 100%;
      height: auto;
      max-height: 15.75rem;
      object-fit: contain;
    }
  
    .btn,
    .btn-add-carrinho,
    .btn-visitar-loja {
      width: 100%;
      text-align: center;
    }
  
    .container-nome-produto,
    .container-preco-produto {
      text-align: center;
    }
  
    .shopping-link {
      right: 1rem;
      top: 1rem;
    }
  }

@media (max-width: 480px) {
    .produto-favorito, .lojas-favoritas {
        grid-template-columns: 1fr;
    }
}
