.roadMap1{
    opacity: 50%;
    margin: 5px;
    text-decoration: none;
}

.redutor{
    max-width: max-content;
}

.redutor300{
    max-width: 300px;
}
.menuLateral{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: max-content;
}

.corpoPrincipal{
    display: flex;

}

.lista{
    display: flex;
    flex-direction: column;
}

.preto{
    color:black;
}