main{
    min-height: 500px;
}

.roadMap1 {
    /* opacity: 50%; */
    margin: 5px;
    text-decoration: none;
}

.redutor {
    max-width: max-content;
}

.redutor300 {
    max-width: 300px;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: max-content;
}

.corpoPrincipal {
    display: flex;
    justify-content: space-between;

}

.listaa {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
}

.preto {
    color: black;
}

.titulo {
    margin: 5px;
    white-space: nowrap;
}

.produto {
    max-width: 97%;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    height: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:10px;
}

.nulificador {
    display: none;
}

.imagem {
    width: 90px;
    height: 90px;
    margin-top: 15px;
}

.centralizar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocoMedio{
    margin: 0 auto;
}

.central{
    margin: auto;
}

.central2{
    margin: auto;
    margin-top:30px ;
}

@media (max-width:994px){
    .produto{
        height: calc(100% + 2px);
    }
    .column{
        flex-direction: column;
    }
    .rows{
        display: flex;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;
        margin: 0px;
        margin-right: 2px;
    }
}

@media (max-width:768px){
    .menuLateral{
        display: none;
    }
    .redutor300{
        width: 0;
    }
    .corpoPrincipal{
        display: flex;
        justify-content: center;
    }

    
}

@media (max-width:425px) {
    .redutorFonte{
        font-size: 14px;
    }
    
}