.container {
    width: 75%;
    margin: auto;
}

.img {
    max-height: 306px;
    border-radius: 20px;
    background-color: black;;
}

/* .card::before {
    content: '';
    width: 100%;
    height: 100%;
    height: 230px;
    opacity: 40%;
    color: black;
    background-color: #BFC2C5;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: 20px;
    fill: #F5F5F5;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    stroke-width: 1px;
    stroke: var(--Primary1, #BFC2C5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Background */

    width: 100%;
    height: 100%;
    /* opacity: 40%; */
    color: black;
    /* background-color: #BFC2C5; */
    background-color: #F5F5F5;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: 20px;
    fill: #F5F5F5;
}

/* .card-body {
    z-index: 9999;
    position: absolute;
} */

.whatsapp{
    width: 2rem;
    min-width: 24px;
}

.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    background-color: #FFF;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    max-width: fit-content;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin: auto;
}

.icone {
    width: 24px;
}

.icone_selecionado {
    display: flex;
    /* background-color: red; */
}
.stars {
    display: flex;
    flex-direction: row;
}
.estrela_0{
    background: linear-gradient(90deg, #16A18E 0%, #989898 100%);
}
.estrela_5{
    background: linear-gradient(90deg, #16A18E 10%, #989898 90%);
}
.estrela_10{
    background: linear-gradient(90deg, #16A18E 20%, #989898 80%);
}
.estrela_15{
    background: linear-gradient(90deg, #16A18E 30%, #989898 70%);
}
.estrela_20{
    background: linear-gradient(90deg, #16A18E 40%, #989898 60%);
}
.estrela_25{
    background: linear-gradient(90deg, #16A18E 50%, #989898 50%);
}
.estrela_30{
    background: linear-gradient(90deg, #16A18E 60%, #989898 40%);
}
.estrela_35{
    background: linear-gradient(90deg, #16A18E 70%, #989898 30%);
}
.estrela_40{
    background: linear-gradient(90deg, #16A18E 80%, #989898 20%);
}
.estrela_45{
    background: linear-gradient(90deg, #16A18E 90%, #989898 10%);
}
.estrela_50{
    background: linear-gradient(90deg, #16A18E 100%, #989898 0%);
}

.card_estrela_texto{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_estrela_texto, .card_estrela_quantidade{
    width: fit-content;
}

.block-green {
    width: 100%;
    max-width: 20px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.text-primary {
    color: var(--primary-color);
    margin-left: 1vw;
}

.content-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}